.item {
   width: 100%;
   width: 400px;
   color: #ffffff;
   cursor: pointer;
   margin-top: 60px;
   transition: background 0.5s cubic-bezier(0.17, 0.17, 0.24, 1);
   text-align: left;
   background: rgba(255, 255, 255, 0.22);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   &-wrap {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &-header {
         display: flex;
         gap: 10px;
         align-items: center;
         img {
            width: 50px;
            height: 50px;
            padding: 5px;
         }
         div {
            display: flex;
            flex-direction: column;
            gap: 3px;
            margin-bottom: 4px;

            h3 {
               font-size: 22px;
               font-weight: 600;
            }
         }
      }
      &-content {
         h3 {
            font-size: 18px;
            margin-bottom: 14px;
            .statistic-title {
               font-size: 32px;
               font-weight: bold;
               color: rgba(255, 255, 255); /* Change to your preferred color */
               font-size: 16px; /* Change font size as needed */
            }
            .ant-statistic-content-value{
            color:white;
            opacity: .7;
            }
         }
      }
      &-footer {
         display: flex;
         gap: 6px;
      }
   }

   &:hover {
      background: rgba(32, 42, 62, 0.6);
   }
}

@keyframes fadeUp {
   0% {
      opacity: 0;
      transform: translateY(30px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.fade-up {
   animation: fadeUp 0.9s ease-in-out forwards;
}
